:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: var(--dark-color);
}

.search {
  border-left: 1px solid var(--green-color);
}

.search svg {
  color: var(--green-color);
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  border: 0;
  padding: 0.5rem 1rem;
}

.main-btn:hover {
  color: var(--yellow-color);
}

.list:hover {
  color: var(--green-color);
}

.landing {
  background-color: var(--dark-color);
  height: calc(100vh - 70px);
}

.main-title h2 {
  font-weight: bolder;
}

.main-title::after {
  content: '';
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: linee;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes linee {
  0% {
    width: 0;
  }

  50% {
    width: 20%;
  }

  100% {
    width: 0%;
  }
}

.icon-holder {
  height: 200px;
}

.number {
  font-size: 12rem;
  color: var(--section-color);
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  color: var(--green-color);
  left: 50%;
  transform: translateX(-50%);
}

.feat h4 {
  color: var(--yellow-color);
}

.list {
  margin-right: 20px;
  width: 60px;
  height: 35px;
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.list:not(.activate):hover {
  color: var(--red-color);
}

.photos .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.card1 {
  position: relative;
  overflow: hidden;
}

.card1::after {
  content: attr(data);
  position: absolute;
  top: 8px;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  background-color: rgba(51, 209, 204, 76%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transform: translateX(calc(-100% - 0.5rem));
 
}

.card1:hover::after {
  transform: translateX(0);
}

.photos {
  background-color: var(--section-color);
}

.description {
  max-width: 500px;
}

.team {
  background-color: var(--section-color);
}

.team h2 {
  color: var(--yellow-color);
}

.team .box h4 {
  background-color: var(--green-color);
}

.project {
  background-color: var(--dark-color);
}

.subscribe{
  background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
border: none;
border-bottom:  1px solid white;
}
.subscribe input[type="text"]:focus{
 outline: none;
  }
  .subscribe ::placeholder{
    color: white;
  }
  .subscribe input[type="submit"]{
  background-color: var(--dark-color);
  color: var(--yellow-color);
    }

    .footer{
      background-color: var(--dark-color);
    }
    .footer .copyright > span{
      color: var(--green-color);
    }.footer .copyright div span{
      color: var(--yellow-color);
    }
    .footer .contact ul svg{
      width: 20px;
      height: 20px;
    }
    .footer .facebook{
      background-color: #1877f2;
    }
    .footer .twitter{
      background-color: #1da1f2;
    }
    .footer .linkedin{
      background-color: #0077b5;
    }
    .footer .youtube{
      background-color: #ff0000;
    }